/*Index*/
body {
    
    /*background-image: url(../Assets/shawarma.jpg);*/
     background-color: #8a046a ;
     font-family: sans-serif;
}
.header1 {
    /*background-image: url("../Assets/shawarma2.jpg");
    background-color:  #8a046a;*/
    background-size: cover;
    height: 100px;
    background-color: burlywood;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 3;
    box-shadow: 0px 5px 4px black;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-nav-link {
    /*background-color: burlywood;*/
    border-radius: 10px;
    padding: 0%;
    width: 150PX;
    height: auto;
    /*box-shadow: 6px 5px 5px black;*/

}
.nav-link{
    display: flex;
    color:  black;
    text-transform: uppercase;
    text-decoration: none;
}
.nav-menu{
    display: flex;
    margin: right -100px;
    list-style: none;
    margin-top: -40px;
    background-color: burlywood;
    padding: 0px;
    border-radius: 10px;
    /*box-shadow: 6px 5px 5px black;*/
}
.nav-menu-item{
    line-height: px;
    margin: 0 10px;  
    width: max-content;  
    font-family: sans-serif;
    
}    
.nav-menu-item a:hover{
    opacity: 0.8;
}
.nav-toggle{
    color:var(--var-principal);
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
    display: none;
    transition: all .5s ease;
}

.main-index {
    padding: 7rem;
}
.linea {
    border-top: 1px solid black;
    height: 2px;
    padding: 0;
    margin: 20px auto 0 auto;
    max-width: 700px;
  }
.line-letters {
    text-align: center;
    font-family: sans-serif;
}
.main-muestra-welcome {
    margin:  auto;
    display: flex;
    justify-content: center;
    background-color: burlywood;
    width: 700px;
    padding: 30px;
}
ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.slider {
    position: relative;
    width: 700px;
    height: 460px;
    display: inline block;
    text-align: center;
}
ul.slider li{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
}
ul.slider li img{
    width: 100%;
    height: 460px;
    object-fit: cover;
}
ul.slider li:first-child{
    opacity: 1;
}
ul.slider li:target{
    opacity: 1;
}
.text-slider{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: burlywood;
    width: 250px;
    height: 125px;
    font-size: 100px;
    border-radius: 10px;
    /*font-family: sans-serif;*/
    box-shadow: 0px 5px 10px 10px black;
}
.menu-slider{
    text-align: center;
    margin: 20px;
}
.menu-slider li{
    display: inline-block;
    text-align: center;
}
.menu-slider li a{
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    background-color: black;
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 100%;
}
.menu-index{
    text-decoration: none;
    color: black;
}
.contact{
    padding: 40px;
    margin-left: -120px;
    display: flex;
    width: 1230px;
    height: 450px;
    justify-content: space-between;
    background-color: burlywood;
    
}
.Introduction{
    /*background-color: burlywood;*/
    position: relative;
    top: -50px;
    left: -30px;
    border-radius: 10px;
    padding: 5px;
    height: 500px;
    width: 530px;
    overflow: hidden;
}
.imgcostado{
    float: right;
    width: 150px;
    height: auto;
}
.Introduction p{
    position: absolute;
    top: 50%;
    left: 50%;
}
.Introduction h3{
    background-color: #8a046a;
    text-align: center;
    border-radius: 10px;
}
.Introduction i{
    color: #000000;
}
.maps{
    position: relative;
    height:260px;
    width: 460px;
    padding: 50px;
    /*background-color: burlywood;*/
    border-radius: 10px;
    top: -490px;
    left: 500px;
}
.gmap {
    overflow:hidden;
    height:480px;
    width:710px;
    margin: -82px -15px;
    border-radius: 10px;
    box-shadow: 0 0 15px -5px;
}

footer {
    width: 1312px;
    height: 100%;
    margin-left: -10px;
    padding: 0;
    /**background-image: url(/Assets/background-footer.svg);
    *background-size: cover;*/
    background-color: burlywood;
    /*-webkit-mask-image: url(/Assets/background-footer.svg);
    mask-image: url(/Assets/background-footer.svg);*/


}
.container-footer{
    max-width: 1200px;
    margin: auto;
    margin-top: 40px;
}
.box-footer {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    text-align: center;
}
.box-footer p{
    text-align: center;
}
.footer-down {
    padding: 10px 0px;
    display: flex;
}
/*.logo-footer img{
    width: 180px;
    height: 180px;
    display: flex;
}*/
.box-footer a:hover{
    opacity: 0.8;
}

/*reseñas*/

.main-rate{
    margin-top: 150px;
}
.title-rate{
    display: flex;
    justify-content: center;
    color: var(--var-principal);
    margin: 10px 0;
}
.container-principal{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;    
}
.container-rate{
    display: flex;
    justify-content: center;
    align-self: start;
    flex-direction: column;
    width: 250px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(211, 228, 233, 0.453);
}
.container-rate .post{
    display: none;
}
.container-rate .text{
    font-size: 20px;
    color:var(--var-principal);
    font-weight: bold;
    flex-flow: row wrap;
    text-align: center;
}
.container-rate .edit{
    text-align: center;
    font-size: 14px;
    color:  var(--var-principal);
    font-weight: 500;
    cursor: pointer;
}
.container-rate .edit:hover{
color: var(--var-secundario);
}
.container-rate .star-widget input{
    display: none;
}
.star-widget label{
    font-size: 25px;
    color:  rgba(5, 105, 98, 0.35);
    padding: 10px;
    float: right;
    transition: all 0.2s ease;
}
 input:not(:checked) ~ label:hover,
 input:not(:checked) ~ label:hover ~ label{
    color:rgb(241, 186, 7);
}
input:checked ~label{
    color: rgb(241, 186, 7);
}
input#rate-5:checked ~label {
    color: rgb(255, 212, 71);
    text-shadow: 0 0 20px rgba(98, 68, 2, 0.661);
}
#rate-1:checked ~ form header:before{
    content: "Malo";
}
#rate-2:checked ~ form header:before{
    content: "Regular";
}
#rate-3:checked ~ form header:before{
    content: "Bueno";
}
#rate-4:checked ~ form header:before{
    content: "Recomendable";
}
#rate-5:checked ~ form header:before{
    content: "Excelente";
}
.container-rate form{
    display: none;
}
input:checked ~ form{
    display: block;
}
.form-rate header{
    width: 100%;
    font-size: 20px;
    color: var(--var-principal);
    font-weight: bold;
    margin: 5px 0 20px 0;
    text-align: center;
    transition: all 0.2s ease;
}
.form-rate textarea{
    height: 100px;
    width: 100%;
    overflow: hidden;
}
form .textarea textarea{
    height: 75px;
    width: 220px;
    margin: 0 5px;
    outline: none;
    color: var(--var-principal);
    border-style: none;
    border-radius: 5px;
    background-color: rgba(201, 162, 94, 0.179);
    padding: 10px;
    font-size: 16px;
    resize: none;
}
form .btn button{
    height: 40px;
    width: 240px;
    margin: 5px;
    outline: none;
    border-style: none;
    border-radius: 5px;
    background-image: linear-gradient(to right, #FF8008 0%, #fabd21 51%, #FF8008 100%);
    color:  var(--var-terciario);
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}
form .btn button:hover{
    background: var(--var-secundario);
}
.rate-all{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    min-height: 150px;
    min-width: 250px;
    margin: 5px;   
}
.rate-user{
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 5px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.515);
}
.rate-done-post{
    display:flex;
    flex-flow:row wrap;
    padding: 5px;
    justify-content: space-around;
}
.rate-done-post label {
    display: flex;
    font-size: 20px;
    color: rgb(226, 181, 0);
    margin-top: 10px;
}
.user-name h5 {
    display:flex;
    justify-content: center;
    font-size: 18px;
    padding: 10px;
    margin: 0;
    font-weight:bold;
    color: var(--var-principal);   
}
.user-text p{
    display:flex;
    text-align: center;
    flex-flow:row wrap;
    height: auto;
    padding: 10px;
    font-size: 16px;
    color: var(--var-principal);
    margin: 0;
}

/*FAQ*/

.main-faq {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: 30vh;
    width: 800px;
    margin-block-end: auto;
    margin-top: 150px;
    background-color: burlywood;
    margin-left:260px ;
    border-radius: 10px;

}
.faq{
   
    display: flex;
    justify-content: center;
    flex-flow: column;
    height:auto;
    margin:20px; 
    width: 600px;
    min-width: 300px;
}
.title-faq {
    font-weight: bold;
    color: var(--var-principal);
    font-size: 50px;
    text-align: center;
    margin: 10px;
}
.wrapper{
    min-width: 300px;
    padding: 0px 20px;
}
.wrapper .parent-tab,
.wrapper .child-tab{
    margin-bottom: 5px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;  
}
.wrapper .parent-tab label,
.wrapper .child-tab label {
    background:var(--var-terciario);
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    position: relative;
    z-index: 99;
}
.wrapper label span {
    color: var(--var-principal);
    font-size: 18px;
    font-weight: bold;
    border-radius: 3px;
}
.wrapper label .icon{
    position: relative;
    min-height: 30px;
    min-width: 30px;
    display: block;
    background: var(--var-principal);
    border-radius: 50%;
}
.parent-tab input:checked ~ label .icon i:before,
.child-tab input:checked ~ label .icon i:before{
    content:"\f068" ;
}
.wrapper label .icon i{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    transform: translate(-50%,-50%);
    color: var(--var-terciario);
}
.wrapper .parent-tab .content,
.wrapper .child-tab .sub-content {
    max-height: 0px;
    overflow: hidden;
    transition: all 0.4 ease;
    background:var(--var-terciario);
    padding: 0px 20px;
}
.parent-tab input:checked ~ .content,
.child-tab input:checked ~ .sub-content{
    max-height: 100vh;
}
.tab-4 input:checked ~ .content{
    padding: 15px 20px;
}
.wrapper .parent-tab .content,
.wrapper .child-tab .sub-content{
    font-size: 16px;
    padding: 0px 20px;    
}
.content p{
    margin-bottom: 10px;
}
.wrapper input{
    display: none;
}

/*Menú*/

.Image-menu {
margin-top: 150px;
margin-left: 220px;
}